<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @restaurant.name %></h1>
      <h3><%= @restaurant.address %></h3>
      <h3><%= @restaurant.category.capitalize %></h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h3>Submit your review</h3>
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h3>Reviews</h3>
        <% @restaurant.reviews.each do |review| %>
            <p><%= review.content %> <%= review.rating %>/5</p>
        <% end %>
      </ul>
    </div>
  </div>
    <%= link_to "Back to Restaurants", restaurants_path, class: 'btn btn-primary' %>
</div>
